# Docker data directory (bind mount root)
# All stateful service data (postgres, redis, kafka, etc.) is stored under this path.
#
# To run a parallel test instance with existing data:
#   cp -a data/ data-staging/
#   DATA_DIR=./data-staging docker compose up -d
#
# To start fresh (PostgreSQL will re-run init-db scripts):
#   rm -rf data/
#   docker compose up -d
DATA_DIR=./data
